body{
    margin: 0;
    padding: 0;
}
#banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),#009688),
     url(../img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding: 150px;

}
.banner-text h1{
    font-size: 100px;
    margin-bottom: 0cm;
    font-family: 'Pacifico', cursive;
}
.banner-text p{
    font-style: italic;
    font-size: 20px;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-color:#fff ;
    transition: 0.5;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #000;
}
#sideNav{
    width: 250px;
    height: 100vh;
    right: -250px;
    top: 0;
    background-color: #009688;
    z-index: 2;
    position: fixed;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background-color: #009688;
    position: fixed;
    z-index: 3;
    right: 20px;
    top: 30px;
    border-radius: 5px;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin: 15px;
    margin-left: 15px;;
}
@media screen and (max-width: 770px) {
    .banner-text h1{
        font-size: 30px;
    }
    .banner-btn a{
        width: 80px;
        display: block;
        margin: 20px auto;
        padding: 6px 5px;
    }
    .banner-text p{
        font-style: italic;
        font-size: 15px;
    }
    #menuBtn{
        width: 30px;
        height: 30px;
        right: 25px;
    }
    #menuBtn img{
        width: 20px;
        margin: 5px;
        margin-right: 15px;
    }

}
/*feartures*/
#features{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: #009688;
    position: relative;
    display: inline-block;
    z-index: 1;
}
.title-text p::after{
    content: '';
    width: 40px;
    height: 35px;
    position: absolute;
    background: linear-gradient(#009688,#fff);
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 45px;
}

.title-text h1{
    font-size: 40px;
    margin-top: 5px;
}
.fearture-box{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.fearture{
    flex-basis: 50%;
}
.fearture-img{
    flex-basis: 50%;
    margin: auto;
}
.fearture-img img{
    width: 70%;
    border-radius: 30px;
}
.fearture h1{
    text-align: left;
    color: #009688;
    font-weight: 100;
    margin-bottom: 10px;
    
}
.feature-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
}
.feature-icon {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 55px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
    padding: 0 10px;
    margin: 0 10px 15px 15px;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
    
}
@media screen and (max-width: 770px) {
    .title-text h1{
        font-size: 20px;
    }
    .fearture{
        flex-basis: 100%;
    }
    .fearture-img{
        flex-basis: 100%;
    }
    .fearture-img img{
        width: 100%;
        border-radius: 20px;
    }
    .title-text p{
        font-size: 15px;
    }
    .title-text p::after{
        width: 30px;
        height: 25px;
        top: -15px;
    }
}

/*--Services--*/
#services{
    width: 100%;
    padding: 70px 0;
    background-color: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;    
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 7px;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    position: absolute;
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transition: 1s;
    transform: translateX(-50%);
}
hr{
    background-color: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 14px;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}
@media screen and (max-width: 770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }

}
/*--testimonial--*/
#testimonial{
    width: 100%;
    padding: 70px 0;
}
.testimnial-row{
    width: 80%;
    margin: auto;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 10px 20px 30px #00968814;
    transition: .5s;
}
.user{
    display: flex;
    align-items: center;
    margin : 20px 0;
}
.user-info .fab{
    margin-left: 10px;
    color: #20c0ff;
    font-size: 20px;
}
.user-info h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.user-info small{
    color: #009688;
}
.user img{
    width: 40px;
    border-radius: 3px;
    margin-right: 20px;
}
.testimonial-col:hover{
    transform: translateY(-10px);/*-- use for action (7px->down), (-7px->up)--*/
}
@media screen and (max-width:770px) {
    .testimonial-col{
        flex-basis: 100%;
    }
}
#footer{
    padding: 100px 0 20px;
    background-color: #efefef;
    position: relative;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;

}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 40px 0;
}
.footer-row p{
    line-height: 20px;
}
.footer-left .far , .footer-right .fas,.far{
    font-size: 20px;
    margin-right: 10px;
    color: #009688;

}
.footer-img{
    width: 300px;
    position: absolute;
    right: 40%;
    top: 0;
    opacity: 0.1;
    transform: translateY(-50%,-50%);
}
.social-link{
    text-align: center;
}
.social-link .fab{
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #009688;
    border: 1px solid #009688;
    border-radius: 5px;
    margin: 60px 2px;
    padding: 10px 5px 0 5px;
    transition: .5s;
    cursor: pointer;
    margin-bottom: 10px;
}
.social-link p{
    color: #720303;
}
.social-link .fab:hover{
    background-color: #009688;
    color: #fff;
    transform: translateY(-7px);

}
@media screen and (max-width:770px) {
    .footer-img{
        width: 170px;
        right: 33%;
        top: 4%;
    }
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .social-link .fab{
        width: 25px;
        height: 25px;
        padding: 7px 5px 3px 6px;
        font-size: 20px;
    }
    .social-link p{
        font-size: 14px;
    }
}
